* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stil za telo */
/* Postavlja tamno sivu pozadinsku boju za celu stranicu */
body {
    background-color: #333333; /* tamno siva boja */
    color: #ffffff; /* beli tekst radi bolje čitljivosti */
    margin: 0;
    font-family: Arial, sans-serif;
}


/* Stil za zaglavlje */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
    border-bottom: 3px solid rgb(0, 0, 0);
}

header h1 {
    font-size: 28px; /* Povećana veličina fonta za naslov */
}

header h1 span {
    color: red;
}

.nav-btn {
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    background-color: rgb(255, 0, 0);
    font-weight: bold;
    cursor: pointer;
    font-size: 16px; /* Povećana veličina fonta za dugmad */
}

.nav-btn.active {
    background-color: rgb(232, 5, 5);
    color: white;
}

/* Glavni stil za sekcije */
main {
    display: flex;
    padding: 60px;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

/* Stil za aside sa linkovima */
aside {
    position: absolute;
    left: 0;
    padding-left: 20px;
    text-align: left;
}

aside a {
    display: block;
    background-color: #ffffff; 
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-bottom: 5px;
    font-size: 40px; /* Povećana veličina fonta za linkove */
}

/* Stil za UPDATE sekciju */
section {
    text-align: center;
    font-size:50px;
}

section h2 {
    font-size: 40px; /* Povećana veličina fonta za naslov "UPDATE" */
    font-weight: bold;
    margin-bottom: 30px;
}

aside a {
    display: block;
    margin-top: 10px;
    color: #333;
    text-decoration: none;
}

aside a:hover {
    color: #ffffff;
}


.update-image {
    display: block;
    margin: 10px auto; /* Centriranje slike */
    max-width: 60%; /* Ograničava širinu slike na 80% širine sekcije */
    height: auto; /* Održava proporcije slike */
}

section p {
    font-weight: bold;
    line-height: 1.5;
    font-size: 30px; /* Povećana veličina fonta za tekst u "UPDATE" sekciji */
}


